export("cleanOrg",
       "readOrg",
       "toOrg")
importFrom(textutils, trim)
importFrom("utils", "read.csv")
S3method(toOrg, Date)
S3method(toOrg, POSIXt)
S3method(toOrg, data.frame)
S3method(print, org)
